<div class="account__preferences" data-right-drawer-type="account-preferences">
  <div class="right__drawer__content">
    <div class="right__drawer__head">
      <div class="right__drawer__head__title">
        PREFERENCES
      </div>
      <div class="right__drawer--close">
        <img src="{{ 'icon-close.svg' | asset_url }}" />
      </div>
    </div>
    <div class="right__drawer__form__wrapper cf-preference-form">
      {% render "customer-fields", form_id: "BXtaMw" %}
    </div>
  </div>
</div>