.page-content{
  padding-top: 0;
}

.page-template__heading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  margin-bottom: 60px;
  padding: 40px 20px;
  background-color: rgba(36, 36, 36, 0.04);
}

.page-template__heading {
  text-align: center;
  font-size: 36px;
  line-height: 1.08;
}

.page-template__container {
  max-width: 840px;
  margin: 0 auto 80px;
  padding: 0 18px;
}

.page-template__container img {
  display: block;
  max-width: 100%;
}

.page-template__container .rte h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 20px;
}

.page-template__container .rte p {
  margin-bottom: 30px;
  font-size: 14px;
}

@media (min-width: 750px) {
  .page-template__heading-wrapper {
    margin-bottom: 80px;
  }

  .page-template__heading {
    font-size: 50px;
  }

  .page-template__container {
    margin: 0 auto 120px;
  }

  .page-template__container .rte h2 {
    margin-top: 50px;
  }

  .page-template__container .rte p {
    font-size: 16px;
  }
}
