.minicart-item {
  display: flex;
  margin-bottom: 30px;
}

.minicart-item__image-container {
  flex-shrink: 0;
  max-width: 100px;
  width: 100%;
  margin-right: 20px;
}

.minicart-item__image-wrapper {
  position: relative;
  padding-top: 125%;
  border-radius: 4px;
}

.minicart-item__image-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

.minicart-item__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.minicart-item__meta-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.minicart-item__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
}

.minicart-item__title {
  margin: 0 40px 0 0;
  font-size: 13px;
  letter-spacing: initial;
}

.minicart-item__btn-remove {
  width: 15px;
  height: 15px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.minicart-item__options {
  display: flex;
}

.minicart-item__option {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.64);
  text-transform: capitalize;
}


.minicart-item__option:not(:first-of-type)::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  margin: 0 8px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.64);
}

.minicart-item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.minicart-item__quantity {
  min-width: 77px;
  height: 34px;
  padding-left: 20px;
  padding-right: 35px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 70% 50%;
  box-shadow: none;
  font-size: 12px;
  font-weight: 500;
  color: #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.minicart-item-price-wrapper{
  display: flex;
}

.minicart-item-price {
  font-size: 12px;
  font-weight: 500;
  color: #000;
}