.popular-teams {
  background-color: #F5F5F5;
}

.popular-teams__container {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.popular-teams__title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 15px;
}

.popular-teams__slider .slick-list {
  margin: 0 -3px;
}

.popular-teams__slider .slick-track {
  display: flex !important;
}

.popular-teams__slider .slick-arrow {
  top: 45%;
}

.popular-teams__slider {
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 15px;
  width: calc(100% + 30px);
  position: relative;
  left: -15px;
}

.popular-teams__slider::-webkit-scrollbar {
  display: none;
}

.popular-teams__slider::after {
  content: '';
  padding-right: 15px;
}

.popular-teams__slide {
    flex: 1 0 90px;
    min-height: 127px;
    padding: 0 3px;
}

.popular-teams__team {
  display: flex;
  flex: 1 1 100px;
  flex-direction: column;
  justify-content: space-around;
  padding: 17px 15px 17px;
  background-color: #fff;
  border-radius: 4px;
  height: 100%;
}

.team__img-container {
  max-width: 69px;
  width: 100%;
  margin: 0 auto 15px;
}

.team__img-wrapper {
  position: relative;
}

.team__img-wrapper img {
  display: block;
  max-height: 50px;
  margin: 0 auto;
}

.team__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 11px;
  letter-spacing: normal;
}

.popular-teams__scrollbar-wrapper{
  display: block;
  margin: 0 auto;
}

.popular-teams__scrollbar{
  position: relative;
  width: 100%;
  height: 1px;
  margin-top: 30px;
  background-color: rgba(0,0,0,0.3);
}

.popular-teams__scrollbar-widget {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 2px;
  background-color: #000;
}


@media (min-width: 480px) {
  .popular-teams__slide {
    flex: 1 0 102px;
  }

  .popular-teams__team {
    padding: 17px 10px 17px;
  }

  .team__img-container {
    margin: 0 auto 30px;
  }
  
  .team__img-wrapper img {
    max-height: 80px;
  }

}

@media (min-width: 750px) {
  
  .popular-teams__slider {
    display: block;
    overflow: inherit;
    margin: auto;
    padding: 0;
    width: 100%;
    position: static;
  }

  .popular-teams__slide {
    min-height: 162px;
    height: inherit !important;
  }

  .popular-teams__team {
    padding: 30px 10px 20px;
  }

  .popular-teams__scrollbar-wrapper{
    display: none !important;
  }

  .popular-teams__title {
    font-size: 15px;
  }
}