.collection-grid-item{
  display: block;
}

.collection-grid-item__image-wrapper {
  position: relative;
  margin-bottom: 24px;
  padding-top: 125%;
}

.collection-grid-item__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.collection-grid-item__info{
  color: #fff;
}

.collection-grid-item__info--dark{
  color: #000;
}

.collection-grid-item__title {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  font-size: 24px;
}

.collection-grid-item__title-first-part{
  margin-right: 5px;
}

.collection-grid-item__title-last-part {
  display: flex;
  align-items: center;
}

.collection-grid-item__title-last-part .arrow {
  position: relative;
  top: -2px;
}