.product-grid,
.ais-Hits-list,
.product-grid__loading {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 40px;
  transition: height 0.3s ease-in-out;
}

.product-grid.product-grid--single-column .product-grid__item {
  width: 100%;
  margin: 0 0 40px 0;
}

.product-grid__item,
.loading__item {
  width: calc(50% - ((var(--grid-gutter)) / 2));
  margin: 0 var(--grid-gutter) 40px 0;
}

.product-grid--single .product-grid__item {
  width: 100%;
}

.product-grid__item {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease-in-out;
}

.product-grid__item.product-grid__item--banner .grid__item__image > a {
  padding: 0;
  height: 100%;
}

.product-grid__item.product-grid__item--banner .grid__item__image img {
  max-width: none;
}


.product-grid__item--banner .grid__item__image {
  min-height: 0;
}

.product-grid__item--banner .grid__item__image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-grid__item .grid__item__image img.hover_image {
  height: 100%;
  left: 0;
  position: absolute;
  object-fit: cover;
  top: 0;
  width: 100%;
  opacity: 0;
  max-height: 600px;
}

@media screen and (min-width: 768px) {
 .product-grid__item:hover img {
    opacity: 0;
  }
  .product-grid__item:hover img.hover_image  {
    opacity: 1;
  } 
}


.product-grid__item--banner .grid__item__info {
  min-height: 75px;
}

.grid__item__info {
  padding-top: 20px;
}

.product-grid__item .grid__item__info h3 {
  margin-top: 0;
}

.product-grid__item.product-grid__item--calendar {
  opacity: 1;
}

.product-grid__item.active {
  opacity: 1;
}

.product-grid__item.product-grid__item--next {
  background-color: #f5f5f5;
  border-radius: var(--border-radius);
  position: relative;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-grid__item.product-grid__item--next > a span {
  display: block;
}

.product-grid__item:nth-child(2n+2),
.loading__item:nth-child(2n+2) {
  margin-right: 0;
}

.grid__item__image > a {
  padding: 0 0;
  display: block;
  height: -webkit-fill-available;
}

@media screen and (min-width: 768px) {
  .product-grid__item.product-grid__item--next {
    display: none;
  }
  
  .product-grid__item,
  .loading__item,
  .product-grid--single .product-grid__item {
    width: calc(33.333% - ((var(--grid-gutter) * 2) / 3));
    margin: 0 var(--grid-gutter) 40px 0;
  }
  
  .product-grid__item:nth-child(2n+2),
  .loading__item:nth-child(2n+2) {
    margin: 0 var(--grid-gutter) 40px 0;
  }
  
  .product-grid__item:nth-child(3n+3),
  .loading__item:nth-child(3n+3) {
    margin-right: 0;
  }
  
  .product-grid__item--next {
    display: none;;
  }
  
  .grid__item__image > a {
    display: block;
  }
  
  .grid__item--tall .grid__item__image > a  {
    padding: 0;
  }
}

@media screen and (min-width: 940px) {
  .product-grid__item--banner .grid__item__image img {
    width: 100%;
    height: auto;
  }
}

.grid__item--tall .grid__item__image > a  {
  padding: 0;
}

.grid__item--tall .grid__item__image {
  background-color: #fff;
}

.grid__item--tall .grid__item__image img {
  mix-blend-mode: normal;
}

.grid__item__image {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 260px;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .grid__item__image {
    height: 75%;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 1200px) {
  .grid__item__image {
    height: 85%;
    min-height: 260px;
  }
}

.grid__item__image img {
  border-radius: var(--border-radius);
  width: 100%;
  mix-blend-mode: multiply;
  margin: 0 auto;
  height: 100%;
  object-fit: cover;
}

.grid__item--tall .grid__item__image img {
  max-width: 100%;
}

.product-grid__item.active img {
  display: block;
}

.product-grid__item h3 {
  line-height: 1.15;
  margin: 20px 0 6px;
  font-size: 13px;
}

.product-grid__item h3 a {
  font-family: inherit;
}

.grid__item__discount__message {
  font-size: 13px;
  color: #f21313;
  margin: 0;
}

.grid__item__price {
  font-size: 13px;
  line-height: 1.46;
  color: #000;
}

.grid__item__price .discounted {
  text-decoration: line-through;
  color: #7c7c7c;
}
.grid__item__price .sale {
  color: #f21313;
}

.grid__item__price__text span {
  display: inline-block;
}

.grid__item__date {
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 4px;
  padding: 10px 18px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid__item__date span {
  display: block;
  font-family: var(--font-heading);
  line-height: 1.15;
}

.grid__item__date span:first-child {
  font-size: 20px;
}

.grid__item__date span:last-child {
  font-size: 10px;
}

.image__badge {
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: var(--border-radius);
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  padding: 8px 12px;
  line-height: 1;
}

.image__badge.badge--sale {
  background-color: #f21313;
  color: #fff;
}

.image__badge span {
  line-height: 1;
  font-size: 13px;
  display: block;
}

/* Quick Add */

.quick-add {
  display: none;
  position: absolute;
  bottom: 6px;
  left: 6px;
  width: calc(100% - 12px);
  padding: 11px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.12);
  transform: scale(0.8) translateY(155%);
  opacity: 0;
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.quick-add .js-klaviyo-embed-form {
  display: none;
}

.quick-add .btn-text {
  position: relative;
}

@media screen and (min-width: 768px) {
  .quick-add.active {
    display: flex;
  }
}

.quick-add.quick-add--single {
  padding: 0;
}

.quick-add button {
  padding: 18px;
  display: block;
  width: 100%;
  font-size: 13px;
}

.grid__item__image:hover .quick-add {
  transform: none;
  opacity: 1;
}

.quick-add > span {
  font-size: 11px;
  font-weight: bold;
  color: #000;
}

.quick-add__inputs {
  display: flex;
}

.quick-add__option {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.quick-add__option input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.quick-add__option__radio {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid transparent;
  width: 100%;
  height: 100%;
}

.quick-add__option:not(.quick-add__option--unavailable):hover .quick-add__option__radio {
  border: 1px solid #000;
}

.quick-add__option__radio span {
  font-size: 13px;
  font-weight: bold;
  color: #000;
}

.quick-add__option--unavailable input {
  display: none;
}

.quick-add__option--unavailable .quick-add__option__radio span {
  text-decoration: line-through;
  color: #8e8e8e;
}

.quick-add .btn__icon,
.grid__item__button .btn__icon {
  display: block;
  width: 20px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.grid__item__button {
  display: block;
  width: 100%;
  padding: 18px;
  font-family: var(--font-heading);
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  margin-top: 20px;
  font-size: 15px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .grid__item__button {
    display: none;
  }
}

/* Loading grid items */

.product-grid__loading {
  position: relative;
  z-index: 1;
}

.loading__item::after {
  content: '';
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(275deg, #fff, rgba(255,255,255,0.3));
  background-size: 400% 400%;
  -webkit-animation: gradientAnimation 2.35s ease infinite;
  -moz-animation: gradientAnimation 2.35s ease infinite;
  animation: gradientAnimation 2.35s ease infinite;
}

.loading__item {
  position: relative;
  z-index: 2;
}

.loading__item__image {
  background-color: var(--color-light-grey);
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
}

.loading__item__image::after {
  content: '';
  display: block;
  padding-top: 100%;
}

.loading__item__info {
  position: relative;
  z-index: 1;
}

.loading__item__info span {
  display: block;
  height: 22px;
  margin-bottom: 6px;
  background-color: var(--color-light-grey);
}

.loading__item__info span:first-child {
  width: 75%;
}

.loading__item__info span:last-child {
  width: 25%;
}

#AjaxinatePagination {
  text-align: center;
  margin-bottom: 50px;
}

@-webkit-keyframes gradientAnimation {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@-moz-keyframes gradientAnimation {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@keyframes gradientAnimation {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}