.minicart-upsell {
  padding: 40px 18px;
}

.minicart-upsell__title {
  margin-bottom: 30px;
}

.minicart-upsell-item {
  display: flex;
  margin-bottom: 30px;
}

.minicart-upsell-item:last-of-type {
  margin-bottom: 0;
}

.minicart-upsell-item__image-container {
  flex-shrink: 0;
  max-width: 100px;
  width: 100%;
  margin-right: 20px;
}

.minicart-upsell-item__image-wrapper {
  position: relative;
  padding-top: 100%;
  border-radius: 4px;
}

.minicart-upsell-item__image-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

.minicart-upsell-item__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.minicart-upsell-item__meta {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.minicart-upsell-item__title {
  margin: 0 0 8px 0;
  font-size: 13px;
  letter-spacing: initial;
}

.minicart-upsell-item__price {
  margin: 0 0 10px 0;
  font-size: 12px;
  color: #000;
}

.minicart-upsell-item__btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-left: -3px;
  margin-right: -3px;
}

.minicart-upsell-item__btn-wrapper {
  max-width: 50%;
  width: 100%;
  padding: 0 3px;
}

.minicart-upsell-item__select {
  width: 100%;
  padding-right: 20px;
  background-position: 86% 50%;
  font-size: 12px;
  text-transform: capitalize;
  transition: .3s ease-in-out all;
}

.minicart-upsell-item__select.error {
  border: 1px solid red;
}

.minicart-upsell-item__btn {
  width: 100%;
  height: 34px;
  background-color: #000;
  border: none;
  border-radius: 4px;
  font-family: var(--font-heading);
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

@media only screen and (min-width: 480px) {
  .minicart-upsell {
    padding: 50px 48px;
  }
}

@media only screen and (max-width: 400px) {
  .minicart-upsell-item__select {
    padding: 0 6px;
    background-position: 93% 50%;
    background-size: 8px;
    font-size: 11px;
  }

  .minicart-upsell-item__btn {
    max-width: 110px;
  }
}