/*================ Customer Account Page ===============*/

.customer__account__page {
  padding: 40px 18px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  background-color: #f1f1f1;
}

.customer__account__left__wrapper {
  width: 100%;
}

.customer__account__nav {
  padding: 40px 45px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0.5px 0 0 rgb(0 0 0 / 16%);
}

.customer__account__points {
  font-size: 30px;
  font-family: var(--font-heading);
  line-height: 1;
  letter-spacing: normal;
  margin: 0 0 20px;
}

.customer__account__title {
  font-size: 26px;
  font-family: var(--font-heading);
  line-height: 1.88;
  letter-spacing: normal;
  margin-bottom: 30px;
}

.customer__account__right__wrapper .customer__account__title {
  display: none;
}

.customer .customer__account__button {
  font-size: 13px;
}

.right__drawer__form__button.customer__account__button {
  margin-bottom: 6px;
}

.customer__account__nav__links {
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.customer__account__nav__links .right__drawer__form__link.open__right__drawer {
  font-size: 16px;
}

.customer__account__nav__links .right__drawer__form__link.open__right__drawer {
  padding: 0;
  margin-top: 10px;
}

.customer__account__nav__links .right__drawer__form__link.open__right__drawer:first-of-type {
  margin-top: 0;
}

.customer.login .customer__account__form__wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 364px;
}

.customer__account__form__wrapper {
  width: 80%;
}

.customer__account__form__wrapper .error__icon {
  width: 15px;
  vertical-align: middle;
}

.customer.addresses {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .customer__account__form__wrapper {
    width: 50%;
  }

  .customer__account__page {
    padding: 50px 48px 80px;
  }

  .customer__account__left__wrapper {
    width: 25%;
  }

  .customer__account__right__wrapper {
    width: 68%;
  }

  .customer__account__title {
    display: block !important;
    font-size: 16px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .customer__account__form__wrapper {
    width: 30%;
  }
}
