<div id="rivo-page-wrapper" style="min-height:800px;"></div>

  <!-- VIP TIERS -->
  <div class="page-section container background-color-grey">
    <div class="content">
      <div class="title-wrapper">
        {% comment %}
        <h2 class="title hide-mobile">Shop To Unlock Perks
        </h2>
        {% endcomment %}
        <h2 class="title loyalty-title">Shop To Unlock Perks
        </h2>
        <p class="copy">Level up a new tier and enjoy a wealth of rewards and perks that only the most dedicated
          members can access.</p>
      </div>
      <table class="margin-top-large margin-bottom-large">
        <thead>
          <tr>
            <th></th>
            <th>
              <div class="vip-tier-wrapper">
                <p class="vip-tier-number text-size-large text-color-white">Comfort Coach</p>
                <p class="label">Free to Join</p>
              </div>
            </th>
            <th>
              <div class="vip-tier-wrapper">
                <p class="vip-tier-number text-size-large text-color-white">Sr. Comfort Coach</p>
                <p class="label">Spend $200+</p>
              </div>
            </th>
            <th>
              <div class="vip-tier-wrapper">
                <p class="vip-tier-number text-size-large text-color-white">Head Comfort Coach</p>
                <p class="label">Spend $500+</p>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="first-column-row-2 background-color-blue">Cash Back Tiers</td>
            <td>
              <p>10%</p>
            </td>
            <td>
              <p>15%</p>
            </td>
            <td>
              <p>20%</p>
            </td>
          </tr>
          <tr>
            <td class="background-color-blue">Birthday Rewards</td>
            <td>
              <p>$10 OFF</p>
            </td>
            <td>
              <p>$15 OFF</p>
            </td>
            <td>
              <p>$25 OFF</p>
            </td>
          </tr>
          <tr>
            <td class="background-color-blue">Exclusive Offers</td>
            <td>
              <svg class="checkmark" height="" width="" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17.837 17.837" xml:space="preserve" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:##1759DD;" d="M16.145,2.571c-0.272-0.273-0.718-0.273-0.99,0L6.92,10.804l-4.241-4.27 c-0.272-0.274-0.715-0.274-0.989,0L0.204,8.019c-0.272,0.271-0.272,0.717,0,0.99l6.217,6.258c0.272,0.271,0.715,0.271,0.99,0 L17.63,5.047c0.276-0.273,0.276-0.72,0-0.994L16.145,2.571z"></path> </g> </g></svg>
            </td>
            <td>
              <svg class="checkmark" height="" width="" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17.837 17.837" xml:space="preserve" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:##1759DD;" d="M16.145,2.571c-0.272-0.273-0.718-0.273-0.99,0L6.92,10.804l-4.241-4.27 c-0.272-0.274-0.715-0.274-0.989,0L0.204,8.019c-0.272,0.271-0.272,0.717,0,0.99l6.217,6.258c0.272,0.271,0.715,0.271,0.99,0 L17.63,5.047c0.276-0.273,0.276-0.72,0-0.994L16.145,2.571z"></path> </g> </g></svg>
            </td>
            <td>
              <svg class="checkmark" height="" width="" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17.837 17.837" xml:space="preserve" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:##1759DD;" d="M16.145,2.571c-0.272-0.273-0.718-0.273-0.99,0L6.92,10.804l-4.241-4.27 c-0.272-0.274-0.715-0.274-0.989,0L0.204,8.019c-0.272,0.271-0.272,0.717,0,0.99l6.217,6.258c0.272,0.271,0.715,0.271,0.99,0 L17.63,5.047c0.276-0.273,0.276-0.72,0-0.994L16.145,2.571z"></path> </g> </g></svg>
            </td>
          </tr>
          <tr>
          <td class="first-column-row-7 background-color-blue">Early Access To Sales</td>
            <td>
              <svg class="checkmark" height="" width="" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17.837 17.837" xml:space="preserve" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:##1759DD;" d="M16.145,2.571c-0.272-0.273-0.718-0.273-0.99,0L6.92,10.804l-4.241-4.27 c-0.272-0.274-0.715-0.274-0.989,0L0.204,8.019c-0.272,0.271-0.272,0.717,0,0.99l6.217,6.258c0.272,0.271,0.715,0.271,0.99,0 L17.63,5.047c0.276-0.273,0.276-0.72,0-0.994L16.145,2.571z"></path> </g> </g></svg>
          </td>
            <td>
              <svg class="checkmark" height="" width="" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17.837 17.837" xml:space="preserve" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:##1759DD;" d="M16.145,2.571c-0.272-0.273-0.718-0.273-0.99,0L6.92,10.804l-4.241-4.27 c-0.272-0.274-0.715-0.274-0.989,0L0.204,8.019c-0.272,0.271-0.272,0.717,0,0.99l6.217,6.258c0.272,0.271,0.715,0.271,0.99,0 L17.63,5.047c0.276-0.273,0.276-0.72,0-0.994L16.145,2.571z"></path> </g> </g></svg>
          </td>
          <td>
            <svg class="checkmark" height="" width="" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17.837 17.837" xml:space="preserve" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:##1759DD;" d="M16.145,2.571c-0.272-0.273-0.718-0.273-0.99,0L6.92,10.804l-4.241-4.27 c-0.272-0.274-0.715-0.274-0.989,0L0.204,8.019c-0.272,0.271-0.272,0.717,0,0.99l6.217,6.258c0.272,0.271,0.715,0.271,0.99,0 L17.63,5.047c0.276-0.273,0.276-0.72,0-0.994L16.145,2.571z"></path> </g> </g></svg>
          </td>
          </tr>
          <tr>
            <td class="background-color-blue">2X Credit Days</td>
            <td>
              <svg class="checkmark" height="" width="" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17.837 17.837" xml:space="preserve" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:##1759DD;" d="M16.145,2.571c-0.272-0.273-0.718-0.273-0.99,0L6.92,10.804l-4.241-4.27 c-0.272-0.274-0.715-0.274-0.989,0L0.204,8.019c-0.272,0.271-0.272,0.717,0,0.99l6.217,6.258c0.272,0.271,0.715,0.271,0.99,0 L17.63,5.047c0.276-0.273,0.276-0.72,0-0.994L16.145,2.571z"></path> </g> </g></svg>
            </td>
            <td>
              <svg class="checkmark" height="" width="" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17.837 17.837" xml:space="preserve" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:##1759DD;" d="M16.145,2.571c-0.272-0.273-0.718-0.273-0.99,0L6.92,10.804l-4.241-4.27 c-0.272-0.274-0.715-0.274-0.989,0L0.204,8.019c-0.272,0.271-0.272,0.717,0,0.99l6.217,6.258c0.272,0.271,0.715,0.271,0.99,0 L17.63,5.047c0.276-0.273,0.276-0.72,0-0.994L16.145,2.571z"></path> </g> </g></svg>
            </td>
            <td>
              <svg class="checkmark" height="" width="" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17.837 17.837" xml:space="preserve" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:##1759DD;" d="M16.145,2.571c-0.272-0.273-0.718-0.273-0.99,0L6.92,10.804l-4.241-4.27 c-0.272-0.274-0.715-0.274-0.989,0L0.204,8.019c-0.272,0.271-0.272,0.717,0,0.99l6.217,6.258c0.272,0.271,0.715,0.271,0.99,0 L17.63,5.047c0.276-0.273,0.276-0.72,0-0.994L16.145,2.571z"></path> </g> </g></svg>
            </td>
          </tr>
           <tr>
            <td class="background-color-blue">3X Credit Days</td>
            <td></td>
            <td>
              <svg class="checkmark" height="" width="" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17.837 17.837" xml:space="preserve" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:##1759DD;" d="M16.145,2.571c-0.272-0.273-0.718-0.273-0.99,0L6.92,10.804l-4.241-4.27 c-0.272-0.274-0.715-0.274-0.989,0L0.204,8.019c-0.272,0.271-0.272,0.717,0,0.99l6.217,6.258c0.272,0.271,0.715,0.271,0.99,0 L17.63,5.047c0.276-0.273,0.276-0.72,0-0.994L16.145,2.571z"></path> </g> </g></svg>
            </td>
            <td>
              <svg class="checkmark" height="" width="" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17.837 17.837" xml:space="preserve" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:##1759DD;" d="M16.145,2.571c-0.272-0.273-0.718-0.273-0.99,0L6.92,10.804l-4.241-4.27 c-0.272-0.274-0.715-0.274-0.989,0L0.204,8.019c-0.272,0.271-0.272,0.717,0,0.99l6.217,6.258c0.272,0.271,0.715,0.271,0.99,0 L17.63,5.047c0.276-0.273,0.276-0.72,0-0.994L16.145,2.571z"></path> </g> </g></svg>
            </td>
          </tr>
          <tr>
            <td class="background-color-blue">Level Up Bonus</td>
            <td></td>
            <td>
              <p>100</p>
            </td>
            <td>
              <p>200</p>
            </td>
          </tr>
          <tr>
            <td class="background-color-blue">Free 2 Day</br>Priority Shipping</td>
            <td>
            </td>
            <td>
              <p>Over $150</p>
            </td>
            <td>
              <p>Always</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {% comment %}
          <p style="text-align: center; text-decoration: underline; margin: 3rem;">
        <a href="https://swoveralls.com/pages/youtube-rewards-page">Subscribe to YouTube</a>
      </p>
      <p style="text-align: center; text-decoration: underline; margin: 1rem;">
        <a href="https://swoveralls.com/pages/textus-subscribe-page">Sign up for Texts</a>
      </p>
      {% endcomment %}
  </div>


  

    <!-- V2 Referrals --> 

<div id="rivo-referral-campaign-1057"></div>



   <!-- FAQS -->
    <div class="page-section container background-color-sand-light" id="section-faqs">
      <div class="content">
        <h2 class="title loyalty-title">Loyalty Program FAQS</h2>
        <div class="faq-section">
          <div class="faq">
            <div class="faq-question">What are the benefits of joining the Loyalty Program?</div>
            <div class="faq-answer">As a member of the Swoveralls Loyalty Program, you will earn store credit for
              every
              purchase you make, which you can redeem for discounts on future purchases. You will also receive
              exclusive
              offers and early access to new products.</div>
          </div>
          <div class="faq">
            <div class="faq-question">Is it free to join?</div>
            <div class="faq-answer">Yes, the loyalty program is completely free to join. 
              There are no membership fees or hidden costs. It's just our way of saying 
              thank you for being a loyal customer.</div>
          </div>
          <div class="faq">
            <div class="faq-question">How do I earn store credit?</div>
            <div class="faq-answer">All customers will earn store credit when placing an order or posting a product review. Finish creating your account or login for more ways to earn!</div>
          </div>
          <div class="faq">
            <div class="faq-question">Does my store credit expire?</div>
            <div class="faq-answer">Store credit does not expire.</div>
          </div>
          <div class="faq">
            <div class="faq-question">How do I use my store credit?</div>
            <div class="faq-answer">Make sure you are logged into your account, redeem your store credit for a coupon, and apply the coupon code at checkout! Coupons cannot be combined. If you do not have an account you can finish creating one.</div>
          </div>
          <div class="faq">
            <div class="faq-question">What happens to my store credit if I return a purchase?</div>
            <div class="faq-answer">If you return a purchase, the store credit you earned for that 
              purchase will be deducted from your account.</div>
          </div>
          <div class="faq">
            <div class="faq-question">I already have an account at Swoveralls — how do I join the Loyalty
              Program?</div>
            <div class="faq-answer">If you already have an account at Swoveralls, simply log in to your
              account and opt-in to the Loyalty Program. You will automatically start earning points with your next purchase. 
              If you're not sure whether you're already a member of the Loyalty Program, please contact our customer
              support team for assistance.</div>
          </div>
        </div>

      </div>
    </div>
  </div>

  

    <!-- Promotions Section -->

    <div class="promo-row">
      <div class="promo-column">
        <h2>Swoveralls</h2>
        <img src="https://cdn.shopify.com/s/files/1/0047/6862/8836/files/1_b4e9a59b-1c33-46ca-9768-f1301952aa6b_1400x.jpg?v=1680522464" alt="Column 1 Image">
        <a href="/collections/swoveralls" class="promo-button">Shop Swoveralls</a>
      </div>
      <div class="promo-column">
        <h2>Swovie Shorts</h2>
        <img src="https://cdn.shopify.com/s/files/1/0047/6862/8836/files/3_bf2e6a65-8fcc-4628-a25f-359043ab8467_1400x.jpg?v=1680522445" alt="Column 2 Image">
        <a href="/collections/swovie-shorts" class="promo-button">Swoveralls Swovie Shorts</a>
      </div>
      <div class="promo-column">
        <h2>New Arrivals</h2>
        <img src="https://cdn.shopify.com/s/files/1/0047/6862/8836/files/2_f6c72e14-eb7c-40fb-ab0c-7725bc312121_1400x.jpg?v=1680522423" alt="Column 3 Image">
        <a href="/collections/new-arrivals" class="promo-button">Shop New Arrivals</a>
      </div>
    </div>

    
 
  <style>


    .main-content {
      padding-top: 0px;
}

    .page--loyalty-program {
      background: white;
    }

    .custom-sections {
      line-height: 1.5;
      font-size: 16px;
      letter-spacing: 0.02em;
      color: #313231;
    }

    .page-section {
      padding: 30px 5%;
      text-align: center;
    }

    #section-faqs {
      padding-left: 0;
      padding-right: 0;
    }
    
    .content {
      max-width: 1280px;
      margin: 0 auto;
      padding: 0 2rem;
    }

    #section-faqs .content {
      max-width: 100%;
      padding: 0;
    }


    .loyalty-title {
    color: #121212;
     margin: 0 0 22px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    }

    
    #section-faqs .title {
      border-bottom: 1px solid black;
      padding-bottom: 40px
    }

    .subtitle {
      font-size: 16px !important;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.03em;
    }

    .background-color-white {
      background: white;
    }
    

    .vip-tier-metafields {
      margin: 1rem 0;
    }

    .vip-tier-icon {
      width: 50px;
      height: 50px;
    }

    .vip-tier-number {
      color: white;
      font-size: 25px;
      letter-spacing: 0;
      line-height: 1.22;
      font-weight: 700;
    }

    .label {
      background: #000000;
      color: white;
      fill-opacity: 0.4;
      border-radius: 2px;
      width: fit-content;
      margin: 0 auto;
      padding: 5px 15px;
      font-weight: 500;
    }


    /* ----- TABLE ----- */
    table {
      width: 80%;
      border-collapse: unset;
      border: none !important;
      margin: 0 auto;
    }

    td p {
      margin: 0 !important;
    }

   th, td {
    border: 1px solid #F4F7F6;
}

    th {
      padding-bottom: 0.5rem;
      border-right: 3px solid white;
      background: #000000;
    }

    th:last-of-type {
      border-right: none;
    }

    td {
      padding: 25px;
      padding-right: 40px;
      color: black;
      max-width: 180px;
      min-width: 150px;
      border-right: none;
      text-align: center;
      border-bottom: 3px solid white;
      border-right: 3px solid white;
    }

    tr {
      text-align: left;
      border-bottom: 1px solid #F4F7F6;
    }

    th:first-of-type {
      border: none !important;
      background: transparent;
    }

    tr:last-of-type td {
      border-bottom: 1px solid #F4F7F6 !important;
    }

    .background-color-blue {
      background: #1759DD;
      color: black;
      height: 30px;
    }

    tr td:last-of-type {
      border-right: none;
    }


    .vip-tier-wrapper {
      padding: 0.5rem 15px;
      display: grid;
      justify-items: center;
    }

  .checkmark {
      width: 15px;
      height: 15px;
      margin: 0 auto;
    }

    /* --- Background colors per TIER --- */

    .background-color-sand-light {
      background: #F5F6F8;
    }

    .background-color-sand {
      background: #E1DAC9;
    }

    .background-color-pink {
      background: #F4D7C4;
    }

    .background-color-blue {
      background: #D4E5E8;
    }

    /*-- Swoveralls Promotions Section --*/

    .promo-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
      margin-top: 30px;
    }
    
    .promo-column {
      position: relative;
      flex-basis: calc(33.33% - 2%);
      text-align: center;
      margin-bottom: 2em;
      margin-right: 1%;
      margin-left: 1%;
      box-sizing: border-box;
    }
    
    .promo-column img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .promo-column h2 {
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
      font-size: 2em;
    }
    
    .promo-button {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      margin-top: 1em;
      margin-bottom: 1em;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      color: white !important;
      border-bottom: 1px solid white !important;
      padding-bottom: 1px !important;
    }

    /* ----- FAQS ----- */

    /* --- FAQS TOGGLE --- */
 

    .faq-section {
      width: 60%;
      margin: 0 auto;
      margin-top: 1rem;
    }

    .faq {
      margin-bottom: 20px;
      text-align: left;
    }

    .faq-question {
      font-weight: 600;
      cursor: pointer;
      position: relative;
      background: transparent;
      border-bottom: 1px solid;
      padding-bottom: 0.5rem;
      padding: 15px;
      font-size: 16;
    }

    .faq-question::before {
      content: "+";
      position: absolute;
      right: 5%;
      top: 25%;
      transition: transform 0.3s ease-in;
      padding-left: 10px;
    }

    .faq-answer {
      display: none;
      margin-top: 10px;
      transition: all 0.4s ease-in;
      padding: 15px;
    }

    .faq.active .faq-question::before {
      transform: rotate(45deg);
    }

    .faq.active .faq-answer {
      display: block;
    }


    /* ----- MEDIA QUERIES ----- */

    @media (max-width: 1050px) {
      table {
        width: 100%;
      }

      th:first-child {
        background: white !important;
      }
    }



    @media (max-width: 767px) {
      .faq-section {
        width: 100%;
      }

      table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        font-size: 14px !important;
        scroll-snap-align: start;
      }

      th:first-child,
      td:first-child {
        position: sticky;
        left: 0;
        z-index: 1;
      }

      td {
        padding: 10px;
        height: 50px;
        white-space: nowrap;
        width: 200px;
      }

      td p {
        white-space: pre-wrap;
      }

      .vip-tier-card {
        margin: 0.5rem 0;
      }

    }
  </style>
  <script>
    const faqs = document.querySelectorAll(".faq");

    faqs.forEach((faq) => {
      const question = faq.querySelector(".faq-question");

      question.addEventListener("click", () => {
        faqs.forEach((otherFaq) => {
          if (otherFaq !== faq && otherFaq.classList.contains("active")) {
            otherFaq.classList.remove("active");
          }
        });

        faq.classList.toggle("active");
      });
    });
  </script>
