<table class="product__size__guide product__size__guide__bottoms">
  <tr>
    <th>SIZE</th>
    <th>WAIST</th>
    <th>HIP</th>
  </tr>
  <tr>
    <td>S</td>
    <td>30-31</td>
    <td>34-36</td>
  </tr>
  <tr>
    <td>M</td>
    <td>32-33</td>
    <td>37-39</td>
  </tr>
  <tr>
    <td>L</td>
    <td>34-35</td>
    <td>40-41.75</td>
  </tr>
  <tr>
    <td>XL</td>
    <td>36-37</td>
    <td>42.5-44</td>
  </tr>
  <tr>
    <td>XXL</td>
    <td>38-40</td>
    <td>45-46</td>
  </tr>
</table>
