<table class="product__size__guide product__size__guide__tops active">
  <tr>
    <th>SIZE</th>
    <th>6-7</th>
    <th>8</th>
    <th>10-12</th>
    <th>14-16</th>
  </tr>
  <tr>
    <td>S</td>
    <td>24-25.5</td>
    <td>N/A</td>
    <td>N/A</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>M</td>
    <td>N/A</td>
    <td>26.5</td>
    <td>N/A</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>L</td>
    <td>N/A</td>
    <td>N/A</td>
    <td>27.5-28.5</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>XL</td>
    <td>N/A</td>
    <td>N/A</td>
    <td>N/A</td>
    <td>30.5-32</td>
  </tr>
</table>
