.yotpo.yotpo-main-widget {
    padding: 16px 0 128px;
}

.yotpo.bottomLine .yotpo-bottomline span.yotpo-icon {
    color: #000 !important;
    display: block;
    font-size: 12px;
}
.yotpo.bottomLine .yotpo-bottomline span.yotpo-icon {
    margin-right: 6px !important;
}

.yotpo a.text-m {
    color: #000000 !important;
    font-weight: bold;
    font-size: 13px;
}

