<table class="product__size__guide product__size__guide__tops active">
  <tr>
    <th>SIZE</th>
    <th>NUMERIC</th>
    <th>SHOULDER</th>
    <th>CHEST</th>
    <th>WAIST</th>
  </tr>
  <tr>
    <td>S</td>
    <td>2-4</td>
    <td>14.5</td>
    <td>34.5-35.5</td>
    <td>27-2</td>
  </tr>
  <tr>
    <td>M</td>
    <td>4-6</td>
    <td>15.25</td>
    <td>36.5-37.5</td>
    <td>29-3</td>
  </tr>
  <tr>
    <td>L</td>
    <td>8-10</td>
    <td>16.25</td>
    <td>39-40.5</td>
    <td>31.5-33</td>
  </tr>
  <tr>
    <td>XL</td>
    <td>12-14</td>
    <td>17.25</td>
    <td>42-44</td>
    <td>34.5-36</td>
  </tr>
</table>
