<table class="product__size__guide product__size__guide__tops active">
  <tr>
    <th>SIZE</th>
    <th>S</th>
    <th>M</th>
    <th>L</th>
    <th>XL</th>
    <th>XXL</th>
  </tr>
  <tr>
    <td>CM</td>
    <td>55-56</td>
    <td>57-58</td>
    <td>58-59</td>
    <td>60-62</td>
    <td>62-63</td>
  </tr>
  <tr>
    <td>IN</td>
    <td>21.5"-22"</td>
    <td>22.5"-23"</td>
    <td>22.75"-23.5"</td>
    <td>23.75"-24.5"</td>
    <td>24.5"-25"</td>
  </tr>
</table>
