<table class="product__size__guide product__size__guide__bottoms">
  <tr>
    <th>SIZE</th>
    <th>WAIST</th>
    <th>HIP</th>
  </tr>
  <tr>
    <td>S</td>
    <td>27-28</td>
    <td>36-38</td>
  </tr>
  <tr>
    <td>M</td>
    <td>29-30</td>
    <td>39-40.5</td>
  </tr>
  <tr>
    <td>L</td>
    <td>31.5-33</td>
    <td>41.75-43.25</td>
  </tr>
  <tr>
    <td>XL</td>
    <td>34.5-36</td>
    <td>44.5-46</td>
  </tr>
</table>