<table class="product__size__guide product__size__guide__tops active">
  <tr>
    <th>SIZE</th>
    <th>TODDLER</th>
    <th>KIDS</th>
    <th>YOUTH</th>
    <th>WOMEN</th>
    <th>OSFA</th>
  </tr>
  <tr>
    <td>CM</td>
    <td>51-53</td>
    <td>52-56</td>
    <td>54-58</td>
    <td>55-59</td>
    <td>56-61</td>
  </tr>
  <tr>
    <td>IN</td>
    <td>19.5"- 21"</td>
    <td>20.5"- 22"</td>
    <td>21"-23"</td>
    <td>21.5"-23.5"</td>
    <td>22"-24"</td>
  </tr>
</table>