{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_f284ef9c-be35-4280-a5ad-fdeeaf8ed423 = section.settings['replo_text_f284ef9c-be35-4280-a5ad-fdeeaf8ed423'] -%}
    {%- capture default_replo_text_f284ef9c-be35-4280-a5ad-fdeeaf8ed423 -%}<p>PRO TIP</p>{%- endcapture -%}
    {%- assign replo_text_f284ef9c-be35-4280-a5ad-fdeeaf8ed423 = replo_text_f284ef9c-be35-4280-a5ad-fdeeaf8ed423 | default: default_replo_text_f284ef9c-be35-4280-a5ad-fdeeaf8ed423 -%}
    "replo_text_f284ef9c-be35-4280-a5ad-fdeeaf8ed423": {{ replo_text_f284ef9c-be35-4280-a5ad-fdeeaf8ed423 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}