.footer {
  min-height: 500px;
  background-color: #28334A;
  padding: 25px 24px 44px;
}
.footer__wrapper {
  max-width: 1134px;
  width: 100%;
  margin: 0 auto;
}
.footer__top {
  margin-bottom: 80px;
  border-bottom: 1px solid #313131;
}
.footer__logo {
  padding-bottom: 12px;
}
.footer__top-title {
  font-family: var(--font-heading);
  max-width: 712px;
  width: 100%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;
  letter-spacing: normal;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #fff;
}
.footer__top-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.footer__form {
  max-width: 534px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.footer__success{
  color: #fff;
}
.footer__error{
  font-size: 12px;
  color: red;
}
.footer__input-wrapper{
  position: relative;
}
.footer__form-input {
  width: 100%;
  background: transparent;
  backdrop-filter: blur(30px);
  border: none;
  border-bottom: solid 1px #fff;
  padding: 8px 0;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.footer__form-input:-webkit-autofill, .footer__form-input:-webkit-autofill:hover, .footer__form-input:-webkit-autofill:focus, .footer__form-input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 300px black inset !important;
  -webkit-text-fill-color: white;
  border-bottom: 1px solid #fff;
}
.footer__form-input::placeholder {
  opacity: 0.5;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.footer__form-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 22px;
  padding: 0;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: initial;
  letter-spacing: normal;
  color: white;
  cursor: pointer;
}
.footer__socials{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.footer__social-item {
  display: inline-flex;
  margin-right: 20px;
}
.footer__social-item.border {
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  height: 50px;
  justify-content: center;
  width: 50px;
}
.footer__social-item.border img {
  height: 21px;
  object-fit: contain;
  width: 21px;
}
.footer__social-item:last-of-type {
  margin-right: 0;
}
.footer__body-row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.footer__body-item {
  flex: 0 0 25%;
  width: 25%;
  padding: 0 10px;
}
.footer__list-title {
  margin: 0 0 30px 0;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  border-bottom: 1px solid currentColor;
  color: #fff;
}
.footer__list-title-icon {
  display: none;
}
.footer__list {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer__list-item{
  margin-bottom: 5px;
  line-height: 1.46;
}
.footer__list-item:last-of-type{
  margin-bottom: 0;
}
.footer__list-link {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.footer__bottom{
  border-top: solid 1px rgba(255, 255, 255, 0.15);
}
.footer__copy{
  max-width: 1134px;
  width: 100%;
  margin: 0 auto;
  font-family: var(--font-heading);
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  opacity: 100%;
  color: #fff;
  text-align: center;
}
.footer__top{
  margin-bottom: 60px;
}
.footer__top-container{
  flex-direction: column;
  align-items: self-start;
}
.footer__form{
  margin-bottom: 30px;
}
.footer__body {
  padding-top: 18px;
}
.footer__body-row {
  margin: -20px -10px;
}
.footer__body-item {
  flex: 0 0 50%;
  width: 50%;
  padding: 20px 10px;
}
.footer__top-title{
  font-size: 18px;
  margin-top: 38px;
}
.footer__top{
  margin-bottom: 25px;
}
.footer__top-title{
  margin-bottom: 20px;
  text-align: center;
}
.footer__top-container{
  align-items: center;
}
.footer__body-row{
  margin: 0;
}
.footer__body-item {
  flex: 0 0 100%;
  width: 100%;
  padding: 0;
}
.footer__list{
  display: none;
  padding-top: 5px;
  padding-bottom: 25px;
  border-bottom: 1px solid #fff;
}
.footer__list-item{
  margin-bottom: 7px;
}
.footer__list-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding: 15px 0;
}
.footer__list-title.open .footer__list-title-icon{
  transform: rotate(-180deg);
}
.footer__list-title-icon {
  display: block;
  transition: .3s ease-in-out all;
}
.footer__success{
  text-align: center;
}
.show-md-up {
  display: none;
}

@media(min-width: 1200px) {
  .hide-md-up {
    display: none;
  }
  .show-md-up {
    display: block;
  }
  .footer {
    display: flex;
    min-height: unset;
    padding: 90px 36px 75px;
  }
  .footer__body {
    padding-top: 0;
  }
  .footer__body-row {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-gap: 90px;
    padding-right: 112px;
  }
  .footer__bottom {
    border-top: 0;
    width: 39%;
  }
  .footer__copy > span {
    font-size: 12px;
    line-height: 18px;
  }
  .footer__form {
    margin-top: 20px;
    margin-left: 0;
  }
  .footer__form-input, .footer__form-input::placeholder {
    font-size: 16px;
  }
  .footer__list {
    display: block;
    border-bottom: 0;
  }
  .footer__list-item {
    font-size: 14px;
  }
  .footer__list-title {
    border-bottom: 0;
    padding-bottom: 22px;
    padding-top: 0;
    font-size: 16px;
    font-weight: bold;
  }
  .footer__list-title > img {
    display: none;
  }
  .footer__socials {
    padding: 16px 0 0;
    justify-content: flex-start;
  }
  .footer__top-title {
    font-size: 19px;
    font-weight: bold;
    margin: 0;
    text-align: left;
  }
  .footer__wrapper {
    display: grid;
    grid-template-columns: 144px 1fr;
    grid-gap: 65px;
    margin: 0 auto 0 0;
    width: max-content;
  }
}