.usp__wrapper {
  display: flex;
  flex-direction: column;
  margin: 60px 18px;
  justify-content: space-around;
  align-items: center;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.usp {
  display: flex;
  padding: 20px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}

.usp:first-of-type {
  border-top: none;
}

.usp__image {
  max-width: 50px;
  max-height: 50px;
}

.usp__title {
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: normal;
  margin: 0 0 0 16px;
}

@media only screen and (min-width: 1200px) {
  .usp__wrapper {
    flex-direction: row;
    padding: 80px 48px;
    gap: 6px;
    border: none;
  }

  .usp {
    padding: 30px;
    width: 33.33%;
    border-radius: 4px;
    border: solid 1px rgba(0, 0, 0, 0.1);
  }

  .usp:first-of-type {
    border-top: solid 1px rgba(0, 0, 0, 0.1);
  }
}
