.container_simple_banner {
	width: 100%;
	height: 100%;
	margin: 80px auto;
}

@media only screen and (max-width: 750px) {
	.container_simple_banner {
		margin: 16px auto 0;
	}
	
	.simple_banner__img {
		overflow: hidden;
		position: relative;
	}
	
	.simple_banner__img::before {
		content: '';
		display: block;
		padding-bottom: 56%;
	}
	
	.container_simple_banner .simple_banner__img img {
		width: auto;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		border: 4px;
	}
	
  .container_simple_banner {
      padding: 3rem 18px;
  }
	
  .text-heading {
      font-size: 24pt;
  }
}

.container_simple_banner img {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}

.container_simple_banner .text-heading  {
    font-family: var(--font-heading);
		text-transform: uppercase;
    font-size: 24px;
    line-height: 2rem;
		display: flex;
		align-items: center;
		justify-content: flex-start;
}

.container_simple_banner .text-heading img {
	width: 16px;
	display: block;
	margin-left: 16px;
}

