/* section with the grid images and description */
.gallery__texts-box {
    position:absolute;
    text-align:center;
    width: 100%;
    top:calc(50% - 78px);
}

.gallery__image-heading {
    text-align: center;
    font-family: var(--font-heading);
    font-size: 50px;
    width: 424px;
    line-height: 1.08;
    margin: auto;
    font-weight: 1;
}

.gallery__image-sub-heading {
    letter-spacing: 1.2px;
    text-align: center;
    font-size: 12px;
    text-transform: none;
    color: #BFBDC1;
    margin-bottom: 20px;
}

.gallery__image-container {
   margin: auto;
   display: grid;
   align-items:center;
}

@media only screen and (min-width: 1000px) { 
    .gallery__image-container {
        margin-bottom: 5vw;    
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;
        max-width: 1400px;
        padding:  0px 45px;
    }

    .gallery__img {
        width: 100%;
        height: auto;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;         
    }
    .gallery__image-container-0 {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        position: relative;
        
    }
    .gallery__image-container > .gallery__image-container-0:first-of-type > .gallery__img:first-of-type{
        height: 400px;
    }

    .gallery__image-container-1 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        position: relative;
    }

    .gallery__image-container-2 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        position: relative;
    }
}

@media only screen and (max-width: 1000px) {
    .gallery__image-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 15px;
        max-width: 500px;
    }  

    .gallery__image-container-0 {
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        position: relative;
        height: 100%;
        object-fit:cover;
        font-size: 50px;
    }

    .gallery__image-container-1 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        position: relative;
        object-fit: contain;
        font-size: 30px;
        margin:  0px 25px;
    }

    .gallery__image-container-2 {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        position: relative;
        object-fit: contain;
        font-size: 30px;
        margin:  0px 25px 30px;
    }
    .gallery__img {
        justify-content: center;
        display: flex;
        margin: auto;
        width: 100%;
        height: inherit;
        object-fit: inherit;
    }

    .gallery__image-heading { 
        font-size: inherit;
        width: 270px;
    }
    .gallery__texts-box {
        top:20%;
    }
}
   
        
   