.media-text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.media-text-container .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 32px 18px 42px;
    width: 100%;
}

.media-text-container .media {
    align-items: stretch;
    display: flex;
    justify-content: stretch;
}

@supports (aspect-ratio: auto) {
    .media-text-container .media .video-wrap {
        width: 100%;
        aspect-ratio: 16 / 9;
    }
}
  
@supports not (aspect-ratio: auto) { 
    .media-text-container .media .video-wrap {
        width: 100%;
        padding-top: 56.26%;
        position: relative;
    }
    .media-text-container .media .video-wrap iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.media-text-container img,
.media-text-container iframe,
.media-text-container svg {
    height: 100%;
    width: 100%;
}

.media-text-container svg {
    aspect-ratio: 16 / 9;
}

.media-text-container .title {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
}

.media-text-container .title:not(:last-child),
.media-text-container .copy:not(:last-child) {
    margin: 0 0 22px;
}

.media-text-container .copy p {
    margin: 0;
}

.media-text-container .copy p:not(:last-child) {
    margin: 0 0 8px;
}

@media(min-width: 768px) {
    .media-text-container {
        flex-direction: row;
        padding: 40px 50px;
    }
    .media-text-container .content {
        padding: 0 50px;
    }
}