.hero-container {
  position: relative;
}

.hero_text_image {
  object-fit: cover; 
  width:100%; 
  height: 500px;
  display: block;
 }
 
 .hero_text_heading {
   left: 0;
   position:absolute;
   text-align:center;
   top: 50%;
   transform: translateY(-50%);
   width: 100%;
   font-size: 50px;
   line-height: 54px;
   margin: 0;
}