<div class="filter__item filter__item--sort">
          <div class="js-filter-heading filter__heading">
            <span class="filter__item-title">Sort</span>
            
            <div class="filter__item-chevron">
              <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12">
                <path data-name="Right Chevron" d="M1.183 12 0 10.849 4.982 6 0 1.151 1.183 0l5.572 5.425a.8.8 0 0 1 0 1.151z"></path>
              </svg>
            </div>
          </div>
          
          
          
          <ul class="js-filter-list filter__list">
            
              
              
              
              
              
            
              
              
              
              
              
            
              
              
              
                <!--
                <li class="filter__list-item">
                  <label class="filter__tag visible" data-sort-filter="">
                    <input class="filter__input js-sort-input" value="title-ascending" data-sort="shopify_ics_products_title_ascending" name="sort" type="radio" data-tag="" data-algolia-filter="">

                    <div class="filter__tag-wrapper">
                      <div class="filter__tag-heading">
                        Alphabetically, A-Z
                      </div>

                      <div class="filter__radio"></div>
                    </div>
                    
                  </label>
                </li>
              
              
            
              
              
              
              
                <li class="filter__list-item">
                  <label class="filter__tag visible" data-sort-filter="">
                    <input class="filter__input js-sort-input" value="title-descending" data-sort="shopify_ics_products_title_descending" name="sort" type="radio" data-tag="" data-algolia-filter="">

                    <div class="filter__tag-wrapper">
                      <div class="filter__tag-heading">
                        Alphabetically, Z-A
                      </div>

                      <div class="filter__radio"></div>
                    </div>
                    
                  </label>
                </li>
                -->
              
              
            
              
              
              
              
                <li class="filter__list-item">
                  <label class="filter__tag visible" data-sort-filter="">
                    <input class="filter__input js-sort-input" value="price-ascending" data-sort="shopify_ics_products_price_ascending" name="sort" type="radio" data-tag="" data-algolia-filter="">

                    <div class="filter__tag-wrapper">
                      <div class="filter__tag-heading">
                        Price, low to high
                      </div>

                      <div class="filter__radio"></div>
                    </div>
                    
                  </label>
                </li>
              
              
            
              
              
              
              
                <li class="filter__list-item">
                  <label class="filter__tag visible" data-sort-filter="">
                    <input class="filter__input js-sort-input" value="price-descending" data-sort="shopify_ics_products_price_descending" name="sort" type="radio" data-tag="" data-algolia-filter="">

                    <div class="filter__tag-wrapper">
                      <div class="filter__tag-heading">
                        Price, high to low
                      </div>

                      <div class="filter__radio"></div>
                    </div>
                    
                  </label>
                </li>
              
              
            
              
              
              
              
                <li class="filter__list-item">
                  <label class="filter__tag visible" data-sort-filter="">
                    <input class="filter__input js-sort-input" value="created-ascending" data-sort="shopify_ics_products_created_ascending" name="sort" type="radio" data-tag="" data-algolia-filter="">

                    <div class="filter__tag-wrapper">
                      <div class="filter__tag-heading">
                        Date, old to new
                      </div>

                      <div class="filter__radio"></div>
                    </div>
                    
                  </label>
                </li>
              
              
            
              
              
              
              
                <li class="filter__list-item">
                  <label class="filter__tag visible" data-sort-filter="">
                    <input class="filter__input js-sort-input" value="created-descending" data-sort="shopify_ics_products_created_descending" name="sort" type="radio" data-tag="" data-algolia-filter="">

                    <div class="filter__tag-wrapper">
                      <div class="filter__tag-heading">
                        Date, new to old
                      </div>

                      <div class="filter__radio"></div>
                    </div>
                    
                  </label>
                </li>
              
              
            
          </ul>
        </div>