<style>

  .sc-modal.fcc {
    padding: 0px 250px !important;
  }

  .sizing-img {
    width: 40%;
}

@media (max-width: 768px) {
    .sizing-img {
        width: 100%;
    }

 .sc-modal.fcc 
{
  padding:0px !important;
}
  }
@media (max-width: 768px) {
    .sc-modal p, .sc-modal h3,.sc-modal h1 {
        text-align: center !important;
    }
}

  tbody {
    font-size: 12px;
}

  .sc-modal h3{
     font-size: 17px;
    font-weight: 700;
    text-align:left;
    margin:0;
  }
  .sc-modal p{
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin: 0;
    margin-top: 9px;
  }
  .sc-inner{
    padding: 15px;
  }
  .sc-inner table{
    border-collapse: collapse;
    width: 100%;
  }
  .sc-inner table td,.sc-inner table th{
    border:1px solid #000;
    padding:10px;
  }
  .table-bottom,.table-bottom>div{
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .table-bottom>div{
    flex:1;
    width: 100%;
  }
  .table-bottom img{
    width:100%;
  }
.sc-inner table tr:hover{
    background: #e0e0e0;
}
  
 .sc-modal-wrapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.sc-modal-wrapper::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.sc-modal-wrapper::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #BCDDD0;
}

  @media(max-width:786px){
    .table-bottom{
      flex-direction:column;
    }
    .p-table{
      overflow: auto;
    }
    .sc-modal-wrapper{
      max-width: 98%;
    }
 
  }
</style>

<div class="sc-modal fcc">
              
                <div class="sc-modal-wrapper">
          
                                                     <div class="sc-inner">
                    <div class="uppertext">
               
<p class="intro-p">Look we totally get it.
You want your Swoveralls to fit perfectly - we do too.
Check out the below measurement chart to find that goldilocks fit for your perfect bod.</p>
<br>
                       <div class="image-column">
                         
                         <p><b><i>Just a heads-up:</i></b> sometimes you might notice tiny differences in sizes (about a quarter to half an inch). It's all part of the game with measurements and how things are made. We do our best to give you the most accurate sizing info, but now and then, there might be a little wiggle room.</p>
                      <h1><b>Swoveralls</b></h1>
                         <center> <img src="https://cdn.shopify.com/s/files/1/0047/6862/8836/files/5_15_Size_Chart_Swoveralls.jpg?v=1716352755" class="sizing-img"></center>
                      </div>
                       
                  </div><br>
                                      <div class="p-table">
<table>
    <tr>
        <td>Swoveralls</td>
        
        <td>1. Bib to waist</td>
        <td>2. Waist</td>
        <td>3. Hip (7" Below Waist Seam)</td>
        <td>4. Thigh</td>
        <td>5. Inseam</td>
        <td>6. Minimum Strap Length</td>
        <td>7. Leg Opening</td>
    </tr>
 <tr>
      <td>XXS</td>
      <td>12"</td>
      <td>17"</td>
      <td>19"</td>
      <td>12"</td>
      <td>25"</td>
      <td>8"</td>
      <td>5 1/4"</td>
    </tr>
    <tr>
      <td>XS</td>
      <td>12 1/4"</td>
      <td>18"</td>
      <td>20"</td>
      <td>12 3/8"</td>
      <td>25"</td>
      <td>9 1/2"</td>
      <td>5 1/2"</td>
    </tr>
    <tr>
      <td>S</td>
      <td>12 1/2"</td>
      <td>19"</td>
      <td>21"</td>
      <td>12 3/4"</td>
      <td>25"</td>
      <td>11"</td>
      <td>5 3/4"</td>
    </tr>
    <tr>
      <td>M</td>
      <td>13"</td>
      <td>20"</td>
      <td>22"</td>
      <td>13 1/8"</td>
      <td>26"</td>
      <td>12"</td>
      <td>6"</td>
    </tr>
    <tr>
      <td>L</td>
      <td>14"</td>
      <td>21"</td>
      <td>23"</td>
      <td>13 5/8"</td>
      <td>26"</td>
      <td>13"</td>
      <td>6 1/4"</td>
    </tr>
    <tr>
      <td>XL</td>
      <td>14 1/2"</td>
      <td>22"</td>
      <td>24"</td>
      <td>14 1/8"</td>
      <td>26"</td>
      <td>14"</td>
      <td>6 1/2"</td>
    </tr>
    <tr>
      <td>2XL</td>
      <td>14 1/2"</td>
      <td>23 1/2"</td>
      <td>25"</td>
      <td>14 5/8"</td>
      <td>27"</td>
      <td>14"</td>
      <td>6 3/4"</td>
    </tr>
    <tr>
      <td>3XL</td>
      <td>14 1/2"</td>
      <td>25"</td>
      <td>26"</td>
      <td>15 1/8"</td>
      <td>27"</td>
      <td>14"</td>
      <td>7"</td>
    </tr>
    <tr>
      <td>4XL</td>
      <td>14 1/2"</td>
      <td>27"</td>
      <td>27 1/2"</td>
      <td>15 5/8"</td>
      <td>27"</td>
      <td>14"</td>
      <td>7 1/4"</td>
    </tr>
</table>  

                       <div class="image-column">
                         <h1><b>Swovie Shorts</b></h1>
                       <center> <img src="https://cdn.shopify.com/s/files/1/0047/6862/8836/files/5_15_Size_Chart_Swovie_Shorts.jpg?v=1716352755" class="sizing-img"></center>
                      </div>
                      
                  </div><br>
                                      <div class="p-table">
<table>
    <tr>
        <td>Swovie Shorts</td>
        <td>1. Bib to waist</td>
        <td>2. Waist</td>
        <td>3. Hip (7" Below Waist Seam)</td>
        <td>4. Bib to Crotch</td>
        <td>5. Inseam</td>
        <td>6. Minimum Strap Length</td>
        <td>7. Leg Opening</td>
        <td>8. Outseam</td>
    </tr>
      <tr>
      <td>XXS</td>
      <td>12"</td>
      <td>16 1/2"</td>
      <td>19"</td>
      <td>22 1/4"</td>
      <td>4 1/2"</td>
      <td>8"</td>
      <td>11"</td>
      <td>14 3/4"</td>
    </tr>
    <tr>
      <td>XS</td>
      <td>12 1/4"</td>
      <td>17 1/2"</td>
      <td>20"</td>
      <td>23"</td>
      <td>5"</td>
      <td>9 1/2"</td>
      <td>11 1/4"</td>
      <td>15 1/2"</td>
    </tr>
    <tr>
      <td>S</td>
      <td>12 1/2"</td>
      <td>18 1/2"</td>
      <td>21"</td>
      <td>23 3/4"</td>
      <td>5"</td>
      <td>11"</td>
      <td>11 1/2"</td>
      <td>16 1/4"</td>
    </tr>
   <tr>
      <td>M</td>
      <td>13"</td>
      <td>19 1/2"</td>
      <td>22"</td>
      <td>24 3/4"</td>
      <td>5 1/2"</td>
      <td>12"</td>
      <td>11 3/4"</td>
      <td>17 1/4"</td>
    </tr>
    <tr>
      <td>L</td>
      <td>14"</td>
      <td>20 1/2"</td>
      <td>23"</td>
      <td>26 1/4"</td>
      <td>5 1/2"</td>
      <td>13"</td>
      <td>12"</td>
      <td>18"</td>
    </tr>
    <tr>
      <td>XL</td>
      <td>14 1/2"</td>
      <td>21 1/2"</td>
      <td>24"</td>
      <td>27 1/4"</td>
      <td>6"</td>
      <td>14"</td>
      <td>12 1/4"</td>
      <td>18 3/4"</td>
    </tr>
    <tr>
      <td>2XL</td>
      <td>14 1/2"</td>
      <td>23"</td>
      <td>25"</td>
      <td>27 3/4"</td>
      <td>6 1/2"</td>
      <td>14"</td>
      <td>12 1/2"</td>
      <td>19 3/4"</td>
    </tr>
    <tr>
      <td>3XL</td>
      <td>14 1/2"</td>
      <td>24 1/2"</td>
      <td>26"</td>
      <td>28 1/4"</td>
      <td>7"</td>
      <td>14"</td>
      <td>12 3/4"</td>
      <td>20 3/4"</td>
    </tr>
    <tr>
      <td>4XL</td>
      <td>14 1/2"</td>
      <td>26 1/2"</td>
      <td>27 1/2"</td>
      <td>28 1/4"</td>
      <td>7 1/2"</td>
      <td>14"</td>
      <td>13"</td>
      <td>21 3/4"</td>
    </tr>
</table>       

                       <div class="image-column">
                          <h1><b>Comfyalls</b></h1>
                       <center> <img src="https://cdn.shopify.com/s/files/1/0047/6862/8836/files/5_15_Size_Chart_Comfyalls.jpg?v=1716352754" class="sizing-img"></center>
                      </div>
                       
                  </div><br>
                                      <div class="p-table">
<table>
    <tr>
        <td>Comfyalls</td>
        <td>1. Neck to Crotch</td>
        <td>2. Waist</td>
        <td>3. Hip (7" Below Waist Seam)</td>
        <td>4. Length</td>
        <td>5. Pocket depth</td>
        <td>6. Sleeve Length</td>
        <td>7. Arm Opening</td>
        <td>8. Thigh</td>
        <td>9. Leg Opening</td>
         <td> 10. Inseam</td>
    
    </tr>
       <tr>
        <td>XXS</td>
        <td>30 1/4"</td>
        <td>18"</td>
        <td>19"</td>
        <td>63 1/2"</td>
        <td>5 3/4"</td>
        <td>21 1/2"</td>
        <td>3 7/8"</td>
        <td>11 7/8"</td>
        <td>5 1/4"</td>
        <td>26"</td>
    </tr>
    <tr>
        <td>XS</td>
        <td>31"</td>
        <td>19"</td>
        <td>20"</td>
        <td>65"</td>
        <td>5 3/4"</td>
        <td>22"</td>
        <td>4 1/4"</td>
        <td>12 1/4"</td>
        <td>5 1/2"</td>
        <td>26"</td>
    </tr>
    <tr>
        <td>S</td>
        <td>32"</td>
        <td>20"</td>
        <td>21"</td>
        <td>66 1/2"</td>
        <td>5 3/4"</td>
        <td>22 1/2"</td>
        <td>4 5/8"</td>
        <td>12 5/8"</td>
        <td>5 3/4"</td>
        <td>26"</td>
    </tr>
    <tr>
        <td>M</td>
        <td>32 3/4"</td>
        <td>21"</td>
        <td>22"</td>
        <td>69"</td>
        <td>5 3/4"</td>
        <td>23"</td>
        <td>5"</td>
        <td>13"</td>
        <td>6"</td>
        <td>27"</td>
    </tr>
    <tr>
        <td>L</td>
        <td>33 1/4"</td>
        <td>22"</td>
        <td>23"</td>
        <td>71"</td>
        <td>5 3/4"</td>
        <td>23 1/2"</td>
        <td>5 3/8"</td>
        <td>13 3/8"</td>
        <td>6 1/4"</td>
        <td>27"</td>
    </tr>
    <tr>
        <td>XL</td>
        <td>34"</td>
        <td>23"</td>
        <td>24"</td>
        <td>72 1/2"</td>
        <td>5 3/4"</td>
        <td>24"</td>
        <td>5 3/4"</td>
        <td>13 3/4"</td>
        <td>6 1/2"</td>
        <td>27"</td>
    </tr>
    <tr>
        <td>2XL</td>
        <td>34 1/2"</td>
        <td>24 1/2"</td>
        <td>25"</td>
        <td>75"</td>
        <td>5 3/4"</td>
        <td>24 1/2"</td>
        <td>6 1/8"</td>
        <td>14 1/8"</td>
        <td>6 3/4"</td>
        <td>28"</td>
    </tr>
    <tr>
        <td>3XL</td>
        <td>34 3/4"</td>
        <td>26"</td>
        <td>26"</td>
        <td>76"</td>
        <td>5 3/4"</td>
        <td>25"</td>
        <td>6 1/2"</td>
        <td>14 1/2"</td>
        <td>7"</td>
        <td>28"</td>
    </tr>
    <tr>
        <td>4XL</td>
        <td>34 3/4"</td>
        <td>28"</td>
        <td>27 1/2"</td>
        <td>77"</td>
        <td>5 3/4"</td>
        <td>25 1/2"</td>
        <td>6 7/8"</td>
        <td>14 7/8"</td>
        <td>7 1/4"</td>
        <td>28"</td>
    </tr>
</table>                    
                    <h1>Size FAQs</h1>
                         <h3>What’s up with the inseam?</h3>
<p>Swoveralls have a shorter inseam than typical pants to allow an extra-comfy drop crotch and ultimate range of mobility. But, Swoveralls are no 'typical pants' and also have adjustable shoulder straps that can lengthen the pant legs if needed.</p>
                                    
<br><br> <center> <img src="https://cdn.shopify.com/s/files/1/0047/6862/8836/files/image.png?v=1716189096" alt="Measurement Guide"></center>
<br><br>
                        </div> 
<h3>Ok, what about the waist measurements?</h3>
<p>Swoveralls have a waist measurement that is going to appear bigger than what you typically wear in pants - but don't worry, this is to accommodate the sizing through the torso.</p>
<br>
<h3>What is Flat Lay Measurement?</h3>
<p>Flat lay measurement is an easy and comfy way to measure your clothes. You just lay the garment on a surface and then measure. This method helps you get the true size of the clothing. Follow the steps and image below to see which parts to measure!</p>
<br>
<h3>How do I find my measurements?</h3>
<ol style="font-size:18px;">
<li>Grab your favorite pants.</li>
<li>Lay on a flat surface.</li>
<li>Measure based on the image we provided above.</li>
<li>Use your measurements and our size chart to find your perfect pair.</li>

</ol>
                      <br>
                      <p style="text-align:left;">Don't have time to take out your fave comfy shirt and pants? No worries! You can simply double the flat lay measurements of the waist, hip, and thigh for an estimated circumference. This quick method helps you get a good idea of how the garment will fit.</p>


<br>
               <p>   You can also check out our <a href="/pages/sizing" style="text-decoration:underline;">size guide quiz.</a> <br>Still got questions? <br>Please don't hesitate to reach out to us at <a href="mailto:hello@swoveralls.com" style="text-decoration:underline;">hello@swoveralls.com</a></p>
                       <div class="table-bottom">
                     
                      <div class="text-column">
                        <div>
                             </div>

                    </div>
                     
                     

                  <br></div>
                 
                 
                </div>
                  </div>







{% schema %}
  {
    "name": "Size chart",
    "settings": [],
    "presets": [
      {
        "name": "Size chart"
      }
    ]
  }
{% endschema %}

